.background-banner {
    width: 100%;
    height: 100%;
    background-image: url(../img/hotel/hotel-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}