.form-control{
    border: none;
    color: var(--bg-marrom-1);
    background-color: var(--bg-marrom-2);
    font-size: 16px;
    font-weight: 400;
}
.form-select {
    border: none;
    color: var(--bg-marrom-1);
    background-color: var(--bg-marrom-2);
    font-size: 16px;
    font-weight: 400;
}