/* Configuração de cores*/
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
@import url(buttons.css);
@import url(navbar.css);
@import url(background.css);
@import url(inputs.css);
@import url(position.css);
@import url(colors.css);
@import url(cards.css);

:root {
    --bg-orange:          #F46A05;
    --bg-orange-hover:    #D85F08;
    --bg-black:           #000000;
    --bg-marrom-1:        #757575;
    --bg-marrom-2:        #f4f4f4;
    --bg-white:           #ffffff;
    --bg-yellow:          #fcb705;
    --bg-roxo:            #e9008c;

}

html, body {
    font-size: 16px;
    font-family:'Ruda', sans-serif;
    width: 100%;
    height: 100%;
}